@charset "utf-8";
 /*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-style: normal;
	vertical-align: baseline;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
h1,h2,h3 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: auto;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}
header {
	 background: #7cc576;
	 height: 230px;
	 clear: both;
}
.header img {
	float:left;
  	width: 100px;
 	margin-left: 20px;
 	margin-top: 20px;
 	box-sizing: border-box;
}
h1 {
  	position: relative;
  	padding-top: 30px;
  	padding-left: 200px;
  	font-size: 200%;
  	text-align: left;
}
h2{
	position: relative;
	padding-top: 20px;
	font-size: 150%;
}
h3{
	text-align: left;
	position: relative;
	padding-top: 30px;
	padding-bottom: 15px;
	font-size: 125%;
}
ol, ul {
	list-style: none;
}
a{
	color: inherit;
	text-decoration: none;
}
.nav ul{
	padding-top: 15px;
	display: flex;
	justify-content: space-around;
	clear: both;
} 
.nav li {
  	font-size: 20px;
 	padding: 20px;
  	background-color: #6dcff6;
  	width: 165px;
  	text-align: center;
  	border-radius: 10px;
}
body{
	background: url(../img/watercolor.png);
}
section {
  	float: left;
  	margin: 0 1.5%;
  	width: 70%;
  	height: 355px;
}
aside{
	position: absolute;
 	float: right;
 	width: 25%;
 	right: 0px;
 	top: 290px;
}

article{
		box-sizing: border-box;
		float: left;
		box-shadow: none;
		padding: 15px;
}
#image-2{
	padding-left: 230px;
}
#image-3{
	padding-left: 230px;
}
div.images{
	vertical-align: top;
	display: inline-block;
	text-align: center;
}
.caption{
	display: block;
}
a{
	color: #000000;
	text-decoration: none;
}
footer{
	background: #7cc576;
	clear: both;
}
.footer-container{
	text-align: left;
	box-sizing: border-box;
}
.social-container{
	display: inline;
}


/*focus on changing width and padding in my nav and images/*