 /*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS clearfix*/

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}


/*
	Color Pallete

	Primary Blue : #1976D2;
	Light blue : #BBDEFB;
	Primary Text : #212121;
	Gray : #757575;
	Orange : #FF5722;
	Red : #F44336;
	Yellow : #FFEB3B;
*/

/************************
		MOBILE FIRST
************************/

/*Make sure major containers in your HTML file are set to 100% width to achieve Fluid Layout */
.col-main, .col-footer, img {
	width:100%;
}

/* Header styles */ 
header {
	background: #757575;

}

.logo {
	float: left;
	width:100px;
	padding: 15px;
	box-sizing: border-box;
	background: #7cc576;
	/*box-sizing border box makes the width adjust according to padding*/
}

.desktop-nav {
	float: right;
	width: calc(100% - 100px);
	display: none;
	/*max width is used in fluid layout to restrict the width of elements that are set to 100% width*/
	/*This is to make sure the content remains in the readable area for screen sizes that are larger than a tablet*/
	max-width: 600px;
}

.desktop-nav ul {
	width:100%;
}

.desktop-nav li {
	box-sizing: border-box;
	width: 33%;
	float: left;
	background: #F44336;
}

.main-nav a {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
}


.ham {
	float: right;
	background: #BBDEFB;
}

.mobile-nav {
	width:100%;
	clear: both;
}

.mobile-nav-container {
	position: relative;
	clear: both;
}

.mobile-nav li {
	box-sizing: border-box;
	width:100%;
	padding: 10px;
	background: #FFEB3B;
	border-bottom: 2px solid #121212;

}



/*main content styles*/

.site-content {

	background: #BBDEFB;
	padding: 15px;
	width:100%;
	box-sizing: border-box;
}

.site-sidebar {
	background: #1976D2;
	padding: 15px;
	width: 100%;
	box-sizing: border-box;
}

/*footer styles*/
footer {
	background: #F44336;
	padding: 15px;
	width: 100%;
	box-sizing: border-box;
}

.company-info {
	background: #1976D2;
}

.links {
	background: #FFEB3B;
}

.social-media {
	background: #757575;
}

/*This media query will only target the tablet size*/
@media only screen and (min-width: 480px) and (max-width: 768px) {
	header {
		background: #FFEB3B;
	}
}

/*This media query targets, tablet and above*/
@media only screen and (min-width: 768px) {
	
	/*header styles*/

	/*the following css is used to restrict the content beyond 1280px*/
	/*This is to make sure the main content is in the readbable area for large screen sizes*/
	header, main, footer {

		max-width: 1280px;
		margin: 0 auto;

	}

	.desktop-nav {
		display: block;
	}

	.mobile-nav {
		display: none;
	}

	.ham {
		display: none;
	}

	.site-content {
		float: left;
		width: 70%;
		box-sizing: border-box;
	}

	.site-sidebar {
		float: left;
		width: 30%;
		box-sizing: border-box;
	}

	.image-gallery .img-slide {
		width: 33%;
		padding: 10px;
		box-sizing: border-box;
		float: left;
	}

	.col-footer {
		width: 31%;
		/*total width = 31% + 1%(left margin) + 1% (right margin) */
		box-sizing: border-box;
		/*border box adjusts the width according to the padding only and does not consider margins*/
		/*Therefore the space used by margins should be manually adjusted in the width declaration*/
		margin: 0 1%;
		padding: 10px;
		float: left;
	}
}

/*Desktop First Media Query*/
/* this is in case you have a lot of complex styles for desktop and do not want to change the styles for desktop layout*/
/*These media queries will target the screen sizes for smaller devices*/
/*The following media query targets the screen sizes that are less than 768px*/
@media only screen and (max-width: 768px) {
	footer {
		background: #FFEB3B;
	}
}