/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*RESET END!!*/

/* CSS CLEARFIX*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
/*Color Palette
Seaform Green - #72a9ae;
Light Grey - #efefef;
Dark Grey - #454545;
*/

/*FONTS FOR WEBPAGE*/

/*Font for Header*/
h1{
	font-family: 'Dela Gothic One', cursive;
	color: #72a9ae;
	font-size: 200%;
}

h1,h2{
	line-height: 2.5;
	font-weight: 700;
}
/*Font for Body*/
@font-face {
  font-family: "Eurocine";
  src: url("/fonts/Eurocine-Regular.otf") format("otf"),
}

body{ 
	font-family: "Eurocine", sans-serif;
	padding: 0;
	margin:0;
	background-image: url(../img/triangle-mosaic.png);
	font-size: 1rem;
 }

 h2{
 	color: #72a9ae;
 }

 /*MOBILE FIRST*/

 .col-main, .col-footer, img {
	width:100%;
}


/*Header NAV STYLES*/
.logo {
	margin-left: 20px;
	padding: 20px;
	box-sizing: border-box;
}
.main{
	max-width: 1024px;
	margin: 0 auto;
}
.main-nav{
	background-color: #72a9ae;
}

.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-nav li {
  float: left;
}

.main-nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.main-nav li a:hover {
  background-color: #487b7d;
  transform: scale(1.1);
  transition: all .2s ease-in-out;
}


/*Hamburger styling*/
.ham {
	float: right;
}

.ham {
		
		height: 15px;
		margin:15px;
		padding-top: 5px;
		position: relative;
		float: right;
		cursor: pointer;
	}

	.ham, .ham:before, .ham:after {
		width: 30px;
		border-top: 5px solid black;
	}

	.ham:before {
		content: "";
		display:block;
		position: absolute;
		background: black;
	}

	.ham:after {
		content: "";
		display: block;
		background: black;
		position: absolute;
		bottom: 0;
	}

.mobile-nav {
	width:100%;
	clear: both;
	position: absolute;
	display: none;
}

.mobile-nav-container {
	position: relative;
	clear: both;
	
}

.mobile-nav li {
	box-sizing: border-box;
	width:100%;
	padding: 10px;
	background: lightgreen;
	border-bottom: 2px solid #121212;

}
/*Start of article styling*/

.main-site{
	float: left;
	box-sizing: border-box;
	width: 70%;
	padding-bottom: 30px;
}
/*Image to the side of the main article*/
.img{
	float: right;
	box-sizing: border-box;
	width: 30%;
	margin-top: 40px;
}
/*This is the styling for the table*/
.schedule-container td, .schedule-container th {
  border: 3px solid #656565;
  padding: 20px 0 20px 0;
  box-sizing: border-box;
  text-align: center;
}
.schedule-container tr:nth-child(even){
	background-color: #efefef;
}

th{
	color: #72a9ae;
	font-weight: 700;
}
table{
	margin: auto;
	width: 100%;
}
/*END OF TABLE STYLING*/
/*PROFILE FORMS STYLING BEGINNING*/
.profile{
	padding: 5px;
}
.form-value-transfer{
	/*margin: 20px;*/
	width: 45%;
	float: left;
}
input[type=text], input[type=email], select, textarea {
  padding: 5px;
  border: 2px solid black;
  resize: vertical;
  box-sizing: border-box;
  display: table;
  margin-left: 125px;
  width: 50%;
}
label {
  padding: 12px 12px 12px 5px;
  float: left;
  box-sizing: border-box;
  display: inline-block;
}
button{
  padding: 5px;
  background-color: white;
  cursor: pointer;
  float: right;
  box-sizing: border-box;
  margin-right: 125px;
 }

button:hover {
	background: #B2D4CD;

}
/*END OF EDIT PROFILE STYLING*/
/*BEGINNING OF PROFILE CARD*/
aside{
	width: 50%;
	float: right;
}
.profile-info{
	box-sizing: border-box;
	padding: 10px 0 0 100px;
}
.card{
	background-color: white;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
	width: 70%;
	margin-right: 50px;	
	margin-bottom: 20px;
	text-align: center;
	float: right;
	padding: 20px 20px 30px;
	box-sizing: border-box;
}
    
.fa-user-alt{
	font-size: 600%;
	transform: scale(1.15, 1.15);
	border-radius: 50%;
    border: 1px solid #72a9ae;
    width: 125px;
    height: 125px;
    overflow: hidden;
    line-height: 125px;
}

/*Footer styles*/

.container{
	width: 90%;
	margin:auto;
}
.footer{
	background-color: #454545;
	padding: 15px 0;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.footer-col{
	width: 31%;
	padding: 0 10px;
	margin-bottom: 10px;
}
.footer-col h4{
	color: white;
	font-weight: 700;
	margin-bottom: 15px;
	position: relative;
}

.footer-col ul li, p:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	color: #bbbbbb;
	text-decoration: none;
	font-size: 14px;
	/*font-weight: 200;*/
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col p{
	color: #bbbbbb;
}

.footer-col .social-links a{
	display: inline-block;
	margin: 5px 10px;
	text-align: center;	
	float: left;
}
.fa-twitter {
	background: #55acee;
	height: 50px;
	width: 50px;
	line-height: 50px;
	border-radius: 50%;
	vertical-align: middle;
	color: #ffffff;
}
.fa-facebook-f{
	background: #3b5999;
  	height: 50px;
  	width: 50px;
  	line-height: 50px;
  	border-radius: 50%;
  	vertical-align: middle;
  	color: #ffffff;
}
.fa-youtube {
  	height: 50px;
  	width: 50px;
  	line-height: 50px;
  	border-radius: 50%;
  	vertical-align: middle;
  	background: #cd201f;
  	color: #ffffff;
}

